* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.celular {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.celular img {
    height: 40rem;
}

.continue-login {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.molde {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.molde:ath-child(1) {
    min-height: 19rem;
}

.logo {
    height: 4rem;
}

.perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.perfil img {
    height: 6rem;
}

.continue {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    margin-top: 1rem;
    border-radius: 4px;
}

.remover {
    color: #0095f6;
    margin-top: 1rem;
}

.nao {
    color: rgb(160, 160, 160);
}

.link {
    color: #0095f6
}

.app-baixar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.baixar {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(img/apple.png);
}

.app-download:nth-child(2) {
    background-image: url(img/google.png);
}

/* media queries */

@media (max-width: 1024px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .container {
        width: 90%;
    }
    
    .celular {
        display: none;
    }

    .continue-login {
        width: 100%;
    }

    .molde {
        border: 1px solid transparent;
    }
}
